body {
  background: rgb(204,204,204); 
}

page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}

p {
  color: black;
  font: 12pt "Tahoma";
  margin-bottom:30px;
  line-height: 150%;
}

td {
    padding: 3px 10px 3px 10px;
    text-align: left;
}

table
{ 
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom:100px;
}

h1{
  margin-top:100px;
  margin-bottom:20px;
  font-family: "Palatino";
  font-size: 3.5em;
}

h2{
  margin-top:100px;
  margin-bottom:20px; 
}

H5{
    text-align: center;
    color: gray;
    font-size:0.8em;
}

img {
    max-width: 90%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top:30px;
    margin-bottom:20px;
}

pre {
  overflow-x: auto;
}

pre code {
   display: block; 
   padding: 0.5em;
   margin-bottom:10px;
}

code {
  font-size: 92%;
  border: 10px solid #F8F8F8;
  margin-bottom: 2px;
}

code[class] {
  background-color: #F8F8F8;
}

